<div class="dash-panel-full">
  <h1>Locations <a href="/podcast/new" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span> Add Location</a></h1>
  <div class="locations row">
  <% _.each(locations, function(location) { %>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-ban-circle"></span></button>
          </div>
          <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= location.loc[1] %>,<%= location.loc[0] %>&zoom=15&size=300x150&maptype=roadmap&markers=color:0x1591b5%7C<%= location.loc[1] %>,<%= location.loc[0] %>&sensor=false&key=AIzaSyCasoNnO-7ZHrH_NBcCU_BBed6duq8NvJg" alt="<%= location.address %>">
          <div class="caption">
            <h3><%= location.name %></h3>
            <small class="text-muted"><%= location.address %></small>
          </div>
        </div>
      </div>
  <% }) %>
  </div>
</div>
