<!DOCTYPE html>
<html>
<head>
  <title><%= episode.name %> powered by Bethel</title>
  <link rel="stylesheet" href="/styles/vjs-embed.css" />
  <link rel="stylesheet" href="/styles/app.css" />
  <link rel="stylesheet" href="//s3.amazonaws.com/static.bethel.io/styles/font-awesome.min.css">
  <style>
    #embed-frame #embedded.audio-player {
      background-image: url('https://images.bethel.io/images/<%= podcast.image ? podcast.image : 'DefaultPodcaster.png' %>?crop=faces&fit=crop&w=200&h=200&blur=150');
    }
<% if (podcast.embedSettings) { %>
    .meta, .meta small, .extras a {
      <% if (podcast.embedSettings.textColor) { %>color: <%= podcast.embedSettings.textColor %> !important;<% } %>
    }
    .vjs-embed-skin {
      <% if (podcast.embedSettings.controlColor) { %>color: <%= podcast.embedSettings.controlColor %> !important;<% } %>
    }
    .vjs-embed-skin .vjs-progress-control .vjs-play-progress,
    .vjs-embed-skin .vjs-volume-level {
      <% if (podcast.embedSettings.controlColor) { %>background: <%= podcast.embedSettings.controlColor %>;<% } %>
    }

    .vjs-embed-skin .vjs-progress-control .vjs-progress-holder {
      <% if (podcast.embedSettings.sliderColor) { %>background: <%= podcast.embedSettings.sliderColor %>;<% } %>
    }
<% } %>
  </style>
</head>
<body id="embed-frame">
<% podcast.embedSettings %>
  <img src="https://images.bethel.io/images/<%= podcast.image ? podcast.image : 'DefaultPodcaster.png' %>?crop=faces&fit=crop&w=140&h=140" />
  <div class="meta">
    <h1><%= episode.name %></h1>
    <h2><%= podcast.name %><br /><small><%= episode.date.toLocaleDateString() %></small></h2>
  </div>
  <div class="extras">
    <% if (podcast.embedSettings && podcast.embedSettings.feedUrl) { %><a href="<%= podcast.embedSettings.feedUrl %>"><i class="fa fa-fw fa-rss"></i></a><br /><% } %>
    <a href="<%= episode.url %>" download><i class="fa fa-fw fa-cloud-download"></i></a>
  </div>
  <audio id="embedded" class="video-js vjs-embed-skin audio-player" data-setup="{}">
    <source src="<%= episode.url %>" type="audio/mp3" />
  </audio>
  <script src="/components/videojs/dist/video-js/video.js"></script>
  <script>
    videojs.options.flash.swf = "https://static.bethel.io/libraries/video-js/video-js.swf";
    videojs('embedded', {
      controls: true,
      controlBar: {
        fullscreenToggle: false
      },
      autoplay: false,
      loop: false,
      width: '100%',
      height: '100%',
    });
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open('GET', 'https://my.bethel.io/podcastmedia/stat/<%= episode.id %>', true);
    xmlHttp.send();
  </script>
</body>
</html>
