<%
  var background, embedStyles = '';

  if (podcast.type === 'video') {
    background = 'background:#000';
  } else if (podcast.embedSettings && podcast.embedSettings.backgroundColor) {
    background = 'background:' + podcast.embedSettings.backgroundColor;
  } else {
    background = 'background-image:url(https://images.bethel.io/images/' + (podcast.image ? podcast.image : 'DefaultPodcaster.png') + '?crop=faces&fit=crop&w=200&h=200&blur=150);'
  }

  if (background) {
    embedStyles += '#embedded.vjs-bethel-skin{' + background + '}';
  }

  if (podcast.embedSettings) {
    if (podcast.embedSettings.textColor) {
      embedStyles += '.meta,.meta small,.extras a{color:' + podcast.embedSettings.textColor + ';}';
    }

    if (podcast.embedSettings.controlColor) {
      embedStyles += '.video-js.vjs-bethel-skin{color:' + podcast.embedSettings.controlColor + ';}';
      embedStyles += '.video-js.vjs-bethel-skin .vjs-progress-control .vjs-play-progress,.video-js.vjs-bethel-skin .vjs-volume-level,.video-js.vjs-bethel-skin .vjs-mouse-display,.video-js.vjs-bethel-skin .vjs-mouse-display:after'
      embedStyles += '{background:' + podcast.embedSettings.controlColor + '}'
    }

    if (podcast.embedSettings.sliderColor) {
      embedStyles += '.video-js.vjs-bethel-skin .vjs-progress-control .vjs-progress-holder{background:' + podcast.embedSettings.sliderColor + '}';
    }
  }
%>
<!DOCTYPE html>
<html>
<head>
  <title><%= episode.name %> powered by Bethel</title>
  <link rel="stylesheet" href="/components/videojs/dist/video-js.min.css" />
  <link rel="stylesheet" href="/styles/embed.css" />
  <style><%- embedStyles %></style>
</head>
<body>

  <<%= podcast.type %> id="embedded" class="video-js vjs-bethel-skin" <% if (podcast.embedSettings && podcast.embedSettings.feedUrl) { %>feed="<%= podcast.embedSettings.feedUrl %>" <% } %>controls poster="https://images.bethel.io/images/<%= podcast.image ? podcast.image : 'DefaultPodcaster.png' %>?crop=faces&fit=crop&w=140&h=140" preload="none">
<% if (!episode.variants && !episode.variants.hls) { %>
    <source src="/podcastmedia/download/<%= episode.id %>?embed" type="<%= PodcastHelper.mimeTypeFromUrl(episode.url) %>" />
<% } else { %>
    <source src="/podcastmedia/download/<%= episode.id %>?embed" type="application/x-mpegURL" />
<% } %>
    <p class="vjs-no-js">Please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </<%= podcast.type %>>

<% if (podcast.type === 'audio') { %>
  <div class="meta">
    <h1><%= episode.name %></h1>
    <h2><%= podcast.name %><br /><small><%= episode.date.toLocaleDateString() %></small></h2>
  </div>
<% } %>

  <script src="/components/videojs/dist/video.min.js"></script>
  <script src="/min/embed.min.js"></script>
</body>
</html>
