<form class="form-horizontal <% if (media.type == 'cloud') { %>cloud<% } else { %>vimeo<% } %>" role="form" action="/podcastmedia/update/<%= media.id %>" method="post" accept-charset="UTF-8">
  <% if (media.type == 'cloud') { %>
  <div class="form-group">
    <label for="episodeTitle" class="col-sm-3 control-label">Episode</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="name" id="episodeTitle" binding="<%= media.id %>" placeholder="Episode Title" value="<% if (media.name) { %><%= media.name %><% } else { var filename = media.url.split('/') %><%= filename[filename.length-1] %><% } %>" />
    </div>
  </div>
  <div class="form-group">
    <label for="episodeDate" class="col-sm-3 control-label">Published</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="date" name="date" id="episodeDate" class="form-control episode-date" value="<%= media.date.getMonth() + 1 %>-<%= media.date.getDate() %>-<%= media.date.getFullYear() %>" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="episodeDescription" class="col-sm-3 control-label">Description</label>
    <div class="col-sm-9">
      <textarea class="form-control" name="description" rows="2" id="episodeDescription" placeholder="A few sentences describing your podcast episode that will appear in iTunes."><% if (media.description) { %><%= media.description %><% } %></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 text-right">
      <button type="delete" class="btn btn-sm btn-danger">Delete</button>
      <button type="submit" class="btn btn-sm btn-primary">Save</button>
    </div>
  </div>
  <% } else { %>
    <p class="text-muted">You can find the URL for your video on <a href="https://vimeo.com/<%= media.uuid %>/settings/file" target="_blank">the video settings page</a>. Bethel recommends using the SD resolution for the best user experience.</p>
    <input type="text" class="form-control" name="url" id="episodeUrl" placeholder="http://player.vimeo.com" value="<% if (media.url) { %><%= media.url %><% } %>" /><button type="submit" class="btn btn-sm btn-primary pull-right">Save</button>
  <% } %>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>