<tr data-id="<%= media.id %>"<% if (!media.name || !media.description || !media.url) { %> class="warning"<% } %>>
  <td>
    <% if (media.thumbnail) { %><img class="media-object pull-left" src="<%= media.thumbnail %>" width="100" /><% } %><h4 value="<% if (media.name) { %><%= media.name %><% } %>"><% if (media.name) { %><%= media.name %><% } %></h4>
    <small class="text-muted"><% if (media.date) { %><%= media.date.toDateString() %><% } %></small>
  </td>
  <td class="operations"><button class="btn btn-sm btn-default media-edit-button" data-source="<%= media.id %>">Edit</button></td>
</tr>
<tr class="podcast-media-edit">
  <td colspan="2">
    <!-- Loaded via AJAX //-->
  </td>
</tr>