<form class="form-horizontal sidebar-form" role="form" action="/ministry/update/<%= ministry.id %>" method="post" accept-charset="UTF-8">
  <div class="dash-panel-left">
    <h1><%= ministry.name %></h1>
    <div class="panel panel-default panel-top">
      <div class="panel-heading">
        <h3 class="panel-title">About the Ministry</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="podcastTitle" class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="name" id="ministryName" placeholder="Ministry name"<% if (typeof ministry != 'undefined') { %> value="<%= ministry.name %>"<% } %> />
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default panel-top">
      <div class="panel-heading">
        <h3 class="panel-title">Appearance</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="podcastTitle" class="col-sm-3 control-label">Brand Color</label>
          <div class="col-sm-9">
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group">
                <div type="button" class="btn btn-default color-primary"<% if (ministry.color) { %> style="background-color: rgb(<%= ministry.color.toString() %>);"<% } %>><input type="radio" name="color" value="<% if (ministry.color) { %><%= ministry.color.toString() %><% } %>" checked /></div>
              </div>
              <div class="btn-group">
                <div type="button" class="btn btn-default color-palette-1"><input type="radio" name="color" /></div>
                <div type="button" class="btn btn-default color-palette-2"><input type="radio" name="color" /></div>
                <div type="button" class="btn btn-default color-palette-3"><input type="radio" name="color" /></div>
                <div type="button" class="btn btn-default color-palette-4"><input type="radio" name="color" /></div>
                <div type="button" class="btn btn-default color-palette-5"><input type="radio" name="color" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="temporaryImage" value="" />
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
<div class="dash-panel-right">
  <div id="upload-widget"<% if (typeof ministry == 'undefined' || !ministry.image) { %> class="dropzone"<% } %> data-temp-location="<%= s3form.bucket %>">
    <img class="thumbnail-sidebar" id="identityImage" typeof="foaf:Image" src="http://cdn.bethel.io/400x400/<% if (typeof ministry != 'undefined' && ministry.image) { %><%= ministry.image %><% } else { %>DefaultPodcaster.png<% } %>" />
    <form action="http://cloud.bethel.io.s3.amazonaws.com/" method="post" enctype="multipart/form-data" id="file_upload">
      <input type="hidden" name="key" value="<%= s3form.bucket %>/${filename}" />
      <input type="hidden" name="AWSAccessKeyId" value="<%= s3form.key %>" />
      <input type="hidden" name="acl" value="public-read" />
      <input type="hidden" name="policy" value="<%= s3form.policy %>" />
      <input type="hidden" name="success_action_status" value="201" />
      <input type="hidden" name="signature" value="<%= s3form.signature %>" />
      <div id="file-upload">
        <div id="dropzone">
          <div class="tag"><i class="fa fa-cloud-upload"></i></div>
          <span class="btn <% if (typeof ministry == 'undefined' || !ministry.image) { %>btn-success<% } else { %>btn-default<% } %> fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span><% if (typeof ministry == 'undefined' || !ministry.image) { %>Upload logo...<% } else { %>Replace existing logo...<% } %></span>
            <input id="fileupload" type="file" name="file" />
          </span>
          <div class="progress progress-striped active" style="display: none;">
            <div class="progress-bar" role="progressbar" style="width: 100%;">Uploading...</div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div id="actions">
    <a href="/" class="btn btn-block btn-default">Cancel</a>
    <button type="submit" class="btn btn-block btn-lg btn-primary sidebar-submit">Save Changes</button>
  </div>
</div>
<script>
  jQuery(document).ready(function($) {
    $(window).ready(function(){
      var colorThief = new ColorThief();
      var el = document.getElementById('identityImage');
      var img = new Image();
      img.onload = function() {
        var primaryColor = colorThief.getColor(img);
        var colorPalette = colorThief.getPalette(img);
        if (!$('.color-primary input').attr('value')) {
          $('.color-primary').attr('style', 'background-color: rgb(' + primaryColor.toString() + ');');
          $('.color-primary input').attr('value', primaryColor.toString());
        }
        colorPalette.forEach(function(color, index) {
          $('.color-palette-'+index).attr('style', 'background-color: rgb(' + color.toString() + ');');
          $('.color-palette-'+index+' input').attr('value', color.toString());
        });
      };
      img.crossOrigin = 'my.bethel.io';
      img.src = el.getAttribute('src');
    });
  });
</script>
