<?xml version="1.0" encoding="UTF-8" ?>
<document>
  <head>
    <style>
      .darkBackgroundColor {
        background-color: <%= ministry.color.channelBackground ? ministry.color.channelBackground : '#292929' %>;
      }
      .roundedImageCorners {
        itml-img-treatment: corner-small;
      }
      .customBadgeLayout {
        margin: 0 0 5 0;
      }
      .showOnHover {
        tv-text-highlight-style: marquee-and-show-on-highlight;
      }
    </style>
  </head>
  <stackTemplate theme="dark" class="darkBackgroundColor">
    <identityBanner>
      <background>
        <% if (ministry.coverImage) { %>
        <img src="https://images.bethel.io/images/<%= ministry.coverImage %>?crop=entropy&amp;fit=crop&amp;w=1920&amp;h=360" width="1920" height="360" />
        <% } else { %>
        <img src="https://images.bethel.io/images/default_poster.jpg?crop=entropy&amp;fit=crop&amp;w=1920&amp;h=360" width="1920" height="360" />
        <% } %>
      </background>
      <title><%= ministry.name %></title>
      <% if (ministry.subtitle) { %><subtitle><%= ministry.subtitle %></subtitle><% } %>
      <row>
        <buttonLockup action="goLive">
          <badge src="resource://button-preview" />
          <title>Watch Live</title>
        </buttonLockup>
        <buttonLockup action="favorite">
          <badge src="resource://button-rate" id="favorite-badge" />
          <title>Favorite</title>
        </buttonLockup>
        <buttonLockup action="moreInfo">
          <badge src="resource://button-more" />
          <title>More Info</title>
        </buttonLockup>
      </row>
    </identityBanner>
    <% if (typeof episodes !== 'undefined') { %>
    <collectionList>
      <shelf>
        <header>
          <title>Most Recent</title>
        </header>
        <section>
          <% _.each(episodes, function(episode) { %>
          <lockup action="playEpisode" episode="<%= episode.url %>">
            <img src="<%= episode.thumbnail %>" width="400" height="225" />
            <title class="showOnHover"><%= episode.name %></title>
          </lockup>
          <% }); %>
        </section>
      </shelf>
      <% if (typeof series !== 'undefined') { %>
      <separator></separator>
      <shelf>
        <header>
          <title>Sermon Series</title>
        </header>
        <section>
          <% _.each(series, function(siri) { %>
          <lockup>
            <img src="https://images.bethel.io/images/<%= siri.image || 'DefaultPodcaster.png' %>?crop=center&amp;fit=crop&amp;w=548&amp;h=340" width="548" height="340" class="roundedImageCorners" />
            <title><%= siri.name %></title>
          </lockup>
          <% }); %>
        </section>
      </shelf>
      <% } %>
    </collectionList>
    <% } %>
  </stackTemplate>
</document>
